[user]
	name = Shunsuke Hondo
	email = shunsuke.hondo@gmail.com
[alias]
	co = checkout
	br = branch
	st = status
	ci = commit
	chp = cherry-pick
	last = log -p -1
	check = diff --cached --check
	diff-cached = diff --cached
	dc = diff --cached
	branch-root = merge-base master HEAD
	fp = fetch -p --all
        s = stash
        sp = stash pop
	ui =update-index --assume-unchanged
	nui = update-index --no-assume-unchanged
	count-lines = "! git log --author=\"$1\" --pretty=tformat: --numstat | awk '{ add += $1; subs += $2; loc += $1 - $2 } END { printf \"added lines: %s, removed lines: %s, total lines: %s\\n\", add, subs, loc }' #"
        del = branch -d
        delr = push origin --delete

[core]
	editor = vi
	whitespace = cr-at-eol
	excludesfile = /Users/shunsuke/.gitignore_global
	autoCRLF = false
	fileMode = false

[color]
	ui = always
	diff = always
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = store
